* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 18px 35px;
}
/* Header and navigation style */
.header {
  background: #fff8f3;
  background-image: url(/images/header_bg.png), url(/images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-position-x: 85%, left;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles */

.banner {
  margin: 0 200px;
  display: flex;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  line-height: 116px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  line-height: 61px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
}

.about {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px 50px;
}
.section-title {
  text-align: center;
  margin-bottom: 30px;
}
.section-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
}
.info {
  background: #fff8f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: center;
  margin: auto;
  padding: 0px 150px;
}
.thdata {
  width: 50px;
  /* border: 1px solid gray; */
  /* padding: 0 50px 0 0; */
  width: 200px;
  text-align: center;
}
.tbdata {
  text-align: center;
  /* border: 1px solid gray; */
}
.table {
}

/* what i do */

.wid {
  margin-top: 130px;
  font-weight: 700;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.wid-description {
  margin: 30px 100px 0;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
}

/* Skill Section */
.skill {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
.skill-head {
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  color: #181818;
}

.skill-paragraph {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}
.skill-shadow {
  background: #ffffff;
  box-shadow: 0px 6px 50px;
  border-radius: 5px;
  padding: 30px;
}

/* summary part */
.summary-header {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #181818;
  margin-top: 130px;
}
